<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Soy un desarrollador de software Full-Stack con una sólida formación
            en <strong>análisis de sistemas</strong>. Tengo experiencia
            utilizando entornos de Linux y he desarrollado soluciones utilizando
            diversas tecnologías como Python, Django, Flask, C#, ASP.NET Core y
            Java.
        </p>
        <p>
            Destaco uno de mis proyectos más recientes, <strong
                >un sistema de facturación y control de stock</strong
            > para una empresa de venta de repuestos automotrices. He desarrollado
            desarrollar mi propia librería para integrar los servicios de AFIP necesarios,
            específicamente <strong
                >el Web Service de Factura Electrónica V1 ("wsfev1") y el Web
                Service de Autenticación y Autorización (WSAA)</strong
            >, tomando como referencia los proyectos de Mariano Reingart
            (PyAfipWs) e Iván (AfipSDK). Este sistema, actualmente en
            producción, ha mejorado notablemente los procesos de la empresa.
        </p>
        <p>
            En el ámbito académico, he realizado un aporte al <strong
                >Tribunal de Cuentas de la Provincia de Misiones</strong
            > con un proyecto de investigación <strong
                >utilizando tecnología Blockchain y Smart Contracts para la
                inmutabilidad de registros, diseñando una arquitecura de
                software, un modelo de datos y un prototipo funcional</strong
            > como resultado de la investigación. Finalizando de esa forma la carrera
            de Licenciatura en Sistemas de Información.
        </p>
    </div>
</article>
