---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Marzo 2025 - Presente",
        title: "Desarrollador FullStack",
        company: "Sherpa.wtf",
        description:
            "Desarrollo y mantenimiento de chatbots especializados para productores y brokers de seguros. Me enfoco en la creación, actualización y optimización de soluciones conversacionales que mejoran la eficiencia y la experiencia del usuario en el sector de seguros.",
    },
    {
        date: "Julio 2024 - Diciembre 2024",
        title: "Desarrollador Full Stack - Freelance",
        company: "Repuestos Stock Car",
        description:
            "Diseñé, desarrollé e implementé un sistema de facturación y gestión de inventario para gestionar las operaciones y la información de la empresa. Mis responsabilidades incluyeron el análisis de requisitos funcionales, la creación de la arquitectura del sistema y la entrega de una solución full stack.",
    },
    {
        date: "Junio 2023",
        title: "Tutor Docente",
        company: "Argentina Programa 4.0",
        description:
            "Impartí conocimientos en Inteligencia Artificial con Python - Nivel 1, como parte del Trayecto Formativo Programador Junior en Machine Learning de Argentina Programa 4.0. Este rol me permitió contribuir al desarrollo de futuros profesionales y fortaleció mi experiencia en la enseñanza de tecnologías.",
        certification: "/experience/argentina-programa-4-0.pdf",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
