---
import DownloadIcon from "./icons/Download.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import TelegramIcon from "./icons/Telegram.astro";
import GoogleIcon from "./icons/Google.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full shadow-lg size-[250px]"
            src="/me.jpeg"
            alt="Foto de Facundo Joel Rodriguez"
        />
        <a
            href="https://linkedin.com/in/midudev"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
        >
        </a>

        <div class="flex items-center">
            <a
                class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                href="/curriculum_vitae.pdf"
                download="Facundo Joel Rodriguez - CV"
            >
                <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 inline-flex items-center text-lg"
                >
                    <DownloadIcon />
                    Descargar CV
                </span>
            </a>
        </div>
    </div>
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hola! Soy Facundo Joel Rodriguez
    </h1>
    <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
        Licenciado en Sistemas de Información.
        <strong>Desarrollador FullStack de Aplicaciones Web</strong>
        de Misiones, Argentina 🇦🇷.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/facundo-joel-rodriguez/">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
        <SocialPill href="mailto:facurodri00@gmail.com">
            <GoogleIcon class="size-4" />
            Gmail
        </SocialPill>
        <SocialPill href="https://t.me/facurodrij">
            <TelegramIcon class="size-4" />
            Telegram
        </SocialPill>
    </nav>
</div>
